$primary: rgba(0,140,200,0.9);
.bg-white{
    background-color: white;
}
#id{
    background-color: rgba(0,140,200,0.9);
}
@import "../../../node_modules/bootstrap/scss/bootstrap";
//@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* 
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
// mixins
@import "../../../node_modules/bootstrap/scss/vendor/rfs";
// Utilities
@import "../../../node_modules/bootstrap/scss/mixins/deprecate";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/hover";
//@import "../../../node_modules/bootstrap/scss/mixins/image";
//@import "../../../node_modules/bootstrap/scss/mixins/badge";
@import "../../../node_modules/bootstrap/scss/mixins/resize";
//@import "../../../node_modules/bootstrap/scss/mixins/screen-reader";
@import "../../../node_modules/bootstrap/scss/mixins/size";
@import "../../../node_modules/bootstrap/scss/mixins/reset-text";
@import "../../../node_modules/bootstrap/scss/mixins/text-emphasis";
@import "../../../node_modules/bootstrap/scss/mixins/text-hide";
@import "../../../node_modules/bootstrap/scss/mixins/text-truncate";
@import "../../../node_modules/bootstrap/scss/mixins/visibility";
// Components
//@import "../../../node_modules/bootstrap/scss/mixins/alert";
@import "../../../node_modules/bootstrap/scss/mixins/buttons";
@import "../../../node_modules/bootstrap/scss/mixins/caret";
//@import "../../../node_modules/bootstrap/scss/mixins/pagination";
@import "../../../node_modules/bootstrap/scss/mixins/lists";
@import "../../../node_modules/bootstrap/scss/mixins/list-group";
@import "../../../node_modules/bootstrap/scss/mixins/nav-divider";
@import "../../../node_modules/bootstrap/scss/mixins/forms";
//@import "../../../node_modules/bootstrap/scss/mixins/table-row";
// Skins
@import "../../../node_modules/bootstrap/scss/mixins/background-variant";
@import "../../../node_modules/bootstrap/scss/mixins/border-radius";
@import "../../../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../../../node_modules/bootstrap/scss/mixins/gradients";
@import "../../../node_modules/bootstrap/scss/mixins/transition";
// Layout
@import "../../../node_modules/bootstrap/scss/mixins/clearfix";
@import "../../../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../../../node_modules/bootstrap/scss/mixins/grid";
@import "../../../node_modules/bootstrap/scss/mixins/float";
//reboot
@import "../../../node_modules/bootstrap/scss/_root.scss";
@import "../../../node_modules/bootstrap/scss/_reboot.scss";
@import "../../../node_modules/bootstrap/scss/_type.scss";
@import "../../../node_modules/bootstrap/scss/_grid.scss";
@import "../../../node_modules/bootstrap/scss/_forms.scss";
@import "../../../node_modules/bootstrap/scss/_buttons.scss";
@import "../../../node_modules/bootstrap/scss/_dropdown.scss";
@import "../../../node_modules/bootstrap/scss/_custom-forms.scss";
@import "../../../node_modules/bootstrap/scss/_nav.scss";
@import "../../../node_modules/bootstrap/scss/_navbar.scss";
@import "../../../node_modules/bootstrap/scss/_card.scss";
@import "../../../node_modules/bootstrap/scss/carousel";

//utilities
@import "../../../node_modules/bootstrap/scss/utilities/align";
@import "../../../node_modules/bootstrap/scss/utilities/background";
@import "../../../node_modules/bootstrap/scss/utilities/borders";
@import "../../../node_modules/bootstrap/scss/utilities/clearfix";
@import "../../../node_modules/bootstrap/scss/utilities/display";
@import "../../../node_modules/bootstrap/scss/utilities/embed";
@import "../../../node_modules/bootstrap/scss/utilities/flex";
@import "../../../node_modules/bootstrap/scss/utilities/float";
@import "../../../node_modules/bootstrap/scss/utilities/overflow";
@import "../../../node_modules/bootstrap/scss/utilities/position";
//@import "../../../node_modules/bootstrap/scss/utilities/screenreaders";
@import "../../../node_modules/bootstrap/scss/utilities/shadows";
@import "../../../node_modules/bootstrap/scss/utilities/sizing";
//@import "../../../node_modules/bootstrap/scss/utilities/stretched-link";
@import "../../../node_modules/bootstrap/scss/utilities/spacing";
@import "../../../node_modules/bootstrap/scss/utilities/text";
@import "../../../node_modules/bootstrap/scss/utilities/visibility";
 */

html, body, #app{
    height: 100%;
}
body {
    animation: yourAnimation 1s forwards 2s ease;
}
@keyframes yourAnimation{
    0%{
        background: rgba(0,140,200,0.9) ;
        }
    55%{
        background: rgba(0,140,200,0.4) ;
        }
    100%{
        background: #ffffff;
        }
}
@font-face {
    font-family: 'ostrich_sansheavy';
    src: url('/assets/font/ostrichsans-heavy-webfont.woff2') format('woff2'),
         url('/assets/font/ostrichsans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
main{
    margin-top:30px;
}
footer{
    background-image: url('/assets/img/bg_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
    padding-top:200px;
}
header.bd{
    width:100%;
}

#header {
    width:100%;
    position: fixed;
    top: 0;
    transition: all .3s ease;
    z-index: 100!important;
}
#header.hide {
    top: -100px;
}
/*user nav menu */
#usernav-menuToggler {
    display: inline;
}
#usernav-menuToggler img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/*fullscreen user nav*/
.nav-itemListadoCamaras:hover{
    background-color: #414549;
}
#camListIcon{
    display: block;
    width: 30px;
}
#camListIcon img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.offcanvas-collapse{
    position: absolute;
    visibility: hidden;
}

.offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 200;
    .nav-item{
        color:white;
    }
}
.navbar-toggler {
    border: none!important;
}

#thumbIcon{
    font-size:1.5em!important;
    line-height: .8!important;
}
/* cam list front*/
.list-title{
    font-family: 'ostrich_sansheavy'!important;
}
.cimg {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.adimg{
    width: -webkit-fill-available;
    max-width: 100%; 
    max-height:196px;
}
.redondel1 {
    background-image: url('/assets/img/guy-kawasaki-iij-QvyRAnM-unsplash.jpg');
    background-position: top;
    background-size: cover;
    border: 4px double rgba(0,140,200,0.9);
    width: 260px;
    height: 260px;
    @include media-breakpoint-down(lg){
            width: 180px;
            height: 180px;
    }
}
.redondel2 {
    background-image: url('/assets/img/guy-kawasaki-iij-QvyRAnM-unsplash.jpg');
    background-position: top;
    background-size: cover;
    border: 4px double rgba(0,140,200,0.9);
    width: 260px;
    height: 260px;
    @include media-breakpoint-down(lg){
            width: 180px;
            height: 180px;
    }
}
.redondel3 {
    background-image: url('/assets/img/guy-kawasaki-iij-QvyRAnM-unsplash.jpg');
    background-position: top;
    background-size: cover;
    border: 4px double rgba(0,140,200,0.9);
    width: 260px;
    height: 260px;
    @include media-breakpoint-down(lg){
            width: 180px;
            height: 180px;
    }
}
.card-columns.redondas {
    @include media-breakpoint-only(sm) {
      column-count: 1;
    }
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
}
@media (min-width: 1200px) {
    img.adimg {
        width: fit-content;
        object-fit: fill;
    }
}
.card-columns {
    @include media-breakpoint-only(sm) {
      column-count: 1;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
}
.card-body {
    display:flex;
    flex-direction: row;
}
/* ------------- */

@media (min-width: 992px) {
    a.navbar-brand img{
        position: relative;
        margin-left: 30px;
    }

}
@media (max-width: 991px) {
    footer {
        padding-top:150px!important;
        .logo {
            width:180px!important;
        }
    }
    #camListIcon{
        top:0!important;
    }
    .offcanvas-collapse {
        top: 40px!important;
    }
    .navbar{
        padding: 0rem 0.2rem;
    }
    main{
        margin-top:40px;
    }
    a.navbar-brand{
        font-size: xx-small!important;
    }
    a.navbar-brand img{
        width: 150px;
        height: auto;
    }
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    margin-top:25px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #000;
    /* margin: 50px 0 0 0; */
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }
  .hovereffect a.info{
    opacity: 0;
      color:#000;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }